<div class="container-fluid footer mt-5">
  <div class="row">
      <!-- name  -->
      <div class="col-lg-6 mt-1 mb-1">
          <h1>&copy; Sun's Portfolio 2025</h1>
          <!-- <p>Organic Foods</p> -->
      </div>
      <!-- nav  -->
      <div class="col-lg-4 mt-1 mb-1">
          
      </div>
      <!-- socialmedia -->
      <div class="col-lg-2">
          <a href="https://www.linkedin.com/in/sunbui/" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/sunbui" target="_blank"><i class="bi bi-github"></i></a>
          <a href="https://www.instagram.com/sunbuiii/" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://mobile.twitter.com/sunbui37/" target="_blank"><i class="bi bi-twitter"></i></a>
      </div>
  </div>
</div>
