

<div class="container mt-5 mb-5">
  <h4>My Technical Skills</h4>
  <p class="p-des mt-3" align="justify"><strong>Web Development:</strong> HTML, CSS, MongoDB, ExpressJS, NodeJS, Bootstrap, S3, EC2, RDS, EB, SLDC Agile methodologies</p>
  <p class="p-des mt-3" align="justify"><strong>Analytics:</strong>SQL, Python,Tableau, Looker, Power BI, Smartsheet, Figma, UAT, users persona, training documentations</p>
  <p class="p-des mt-3" align="justify"><strong>Life Sciences:</strong>GxP & non GxP, SOP, CAPA, Veeva, Labware LIMS, ELN, In vivo and in vitro laboratory studies, onboarding</p>
<br>
      


  <h4>Keep in touch to me </h4>
  <form class="col-lg-8">
      <div class="row">
          <div class="col-lg-6 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Enter your name" >
        </div>
          <div class="col-lg-6 mt-2 mb-2">
              <input type="text" class="form-control" placeholder="Enter your email" >
          </div>
          <div class="col-lg-12 mt-2 mb-2">
              <input type="text" class="form-control" placeholder="Enter your questions " style="height:100px">
          </div>
          <div class="col-lg-12">
              <button class="btn btn-md btn-dark">Submit</button>
          </div>
          


      </div>
  </form> 

  
</div>
