
.img-fluid-1{
  width: 45%;
  height: 40%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-fluid-2{
  width: 43%;
  height: 40%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-fluid-3{
  width: 42%;
  height: 40%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-fluid-4{
  width: 51%;
  height: 40%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-fluid-5{
  width: 40%;
  height: 40%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-fluid-6{
  width: 40%;
  height: 40%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.row{
  justify-content: center;
  
}

.card{
  display: flex;
  flex-wrap: wrap;
  margin: -10px 3 3 -10px;
  margin-bottom: 2%;
  margin-top: -5%;
}
.card-body{
  
}
.card-title{
  margin-bottom: 0%;
  margin-top: 0%;
}
