<section>
  <div class='container'>
    <div class="row">
      <div class="col-sm-5">
        <br><br><br>

       <div class="p-profile"></div>
      </div>
      
        <div class="col-lg-7 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
      <br><br>
       <h2 class="mt-4">About me</h2>
       <p class="p-des mt-3" align="justify">Hello! My name's Sun Bui, I have a Bachelor's Degree in Information Technology with a concentration in Web Development and Analytics minor at Northeastern University.</p>
       
       <p class="p-des mt-3" align="justify">I am fascinated by the power of data science and software technologies in revolutionizing the life sciences and healthcare industries. I'm interested in analyzing large complex pharmaceutical and healthcare data to make an actionable data-driven decision to have an impact on human health. </p>
        <p class="p-des mt-3" align="justify">I have two co-op experiences in the biotech industry. At my recent co-op, I worked as <strong>Customer Success Analyst </strong>in a highly interdisciplinary team at <strong>Moderna</strong>. During this time,  I contributed to improving internal application products by gathering feedbacks in order to improve study design workflows & building data analytics dashboards and deriving insights. I also worked at <strong>Alnylam Pharmaceuticals</strong> as a <strong>Informatics/ IT coop</strong> in Quality and Training department. I supported quality systems: Document Management System, Learning Management System, Veeva Vault eTMF system related SOPs and GxP.</p> 
      <div>
        <br>
        <h4>My Technical Skills</h4>

        <!-- <p class="p-des mt-3" align="justify"><strong>Web Development:</strong> HTML, CSS, MongoDB, ExpressJS, NodeJS, Bootstrap, S3, EC2, RDS, EB, SLDC Agile methodologies</p>

        <p class="p-des mt-3" align="justify"><strong>Analytics:</strong>SQL, Python,Tableau, Looker, Power BI, Smartsheet, Figma, UAT, users persona, training documentations</p>

        <p class="p-des mt-3" align="justify"><strong>Life Sciences:</strong>GxP & non GxP, SOP, CAPA, Veeva, Labware LIMS, ELN, In vivo and in vitro laboratory studies, onboarding</p> -->

        <p class="p-des mt-3" align="justify">
          For more details about my technical skills or experience, please check out my Resume and feel free to send me an email to
          <a href="mailto: bui.thi@northeastern.edu">bui.thi@northeastern.edu.</a>
          Thank you for visiting in my portfolio!!!</p>
        <p   class="p-des mt-3" align="justify">
          
        </p>
      
  
        <p class="p-des mt-3" align="justify">Download Resume <a href="https://drive.google.com/file/d/1IqdOm0x14GZ1blXh5BH3FucZXDVBlFq6/view" class="p-download"><i class="bi bi-download"></i></a>
        </p>
        
        </div>
      </div>
    </div>
  </div>
  
</section>

  